@font-face {
    font-family: 'Lato';
    font-weight: normal;
    src: url('Lato/Lato-Regular.ttf'), format('truetype');
}

@font-face {
    font-family: 'Lato';
    font-weight: bold;
    src: url('Lato/Lato-Bold.ttf'), format('truetype');
}

@font-face {
    font-family: 'Lato';
    font-weight: lighter;
    src: url('Lato/Lato-Light.ttf'), format('truetype');
}